body {
  background-color: rgb(126, 119, 119);
}

.footer {
  color: white;
}

.submit-box {
  margin-top: -300px;
  max-Width: 500;
  margin: "auto";
  margin-top: 5; 
  padding: 3;
  box-Shadow: 3; 
  border-radius: 2;
  background-color: "white"
}