

.footer {
  color: white;
}

#root{
  height: 100%;
}

/* .submit-box {
  margin-top: -300px;
  max-Width: 500;
  margin: "auto";
  margin-top: 5; 
  padding: 3;
  box-Shadow: 3; 
  border-radius: 2;
  background-color: "white"
} */

p{
  color: black;
}

.submit-box{
  align-self: bottom;
  align-items: bottom;
}

.css-1lovaai{
  align-items: center;
}

.css-1vocaai{
  margin-top: 0;
}