 body {
  background-color: #34495e;
}

.maintenance-table {
  margin-top: 2rem;
  
  width: 100%;
  border-radius: 5px;
  align-items: center;
} 


.filterTask-container{
  align-items: center;
  background-color: rgb(71, 97, 122);
  max-height: 70px;
  margin-top: 3rem;
  border-radius: 15px;
  border: 2px solid #ffffff77;
}

.filter {
  align-items: center;
  margin: 1rem 1rem 1rem 1rem;
  padding: 5px;
  border: 2px solid #ecf0f1;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  }


th {
  background-color: #34495e;
  border: 2px solid #ecf0f1;
  color: #ecf0f1;
  padding: 10px 15px;
  font-size: 1.1rem;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s ease;
  position: relative;
  
}

td {
  border: 2px solid #f1ecec;
  border-radius: 5px;
  color: black;  
 
}

.ebtn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  }

  .med-btn{
    margin: 10px;
  }

