#root{
    min-width: 100vw;
    display: block;
}

.navContainer{
    min-width: 100vw;
}

.NavBar{
    display: flex;
    min-width: 100vw;
    justify-content: space-evenly;
    align-self: center;
    min-width: 100%;
}

.SubmitBar{
    display: flex;
    justify-content: center;
    min-width: 200px;
    margin-top: 20px;
}

.button{
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* align-items: center; */
}

#submitButton{
    min-width: 40vw;
}

.iconButton{
    margin-top: 20px;
    width: 300px;
}


img{
    background-color: rgb(255, 255, 255, 0.5);
    max-width: 300px;
    max-height: 300px;
}