button{
    background: white;
    color: black;
}

:root{
    width: 100%;
    height: 100%;
    
}

#root{
    width: 100%;
    height: 100%;
}

.calendar-div{
    display: flex;
    justify-content: center;
    min-height: fit-content;
    min-width: 100vw;
    height: 100%;
}


.fc {
    position: fixed;
    top: 125px;
    left: auto;
    width: 70%;
    height: 75%;
    z-index: 1;
}

table{
    background-color: #93a8ac;
}

.conflicts{
    --fc-event-border-color: red;
}