button{
    background: white;
    color: black;
}

/* #root{
    min-width: 100vw;
    min-height: 100vh;
    
} */

.calendar-div{
    display: flex;
    justify-content: center;
}


.fc {
    position: fixed;
    min-width: 35vw;
    min-height: 35vh;
    margin-top: -450px;
    z-index: 1;
}

.conflicts{
    --fc-event-border-color: red;
}